/*---------------------------------------------------
Header
----------------------------------------------------*/
.site-header {
  background-color: #fafafa;
  padding-top: 2.25rem;
}

.site-branding {
  background-color: #fff;
  border-top: 1px solid #e1e1e1;
  padding: 1.5rem 0;
}

.logo {
  width: 320px;
}
