/*---------------------------------------------------
Header
----------------------------------------------------*/

.site-header {
  background-color: #fafafa;
  padding-top: 2.25rem;
}

.site-branding {
  background-color: #fff;
  border-top: 1px solid #e1e1e1;
  padding: 1.5rem 0;
}

.logo {
  width: 300px;
}

.main-navigation {
  background-color: #fff;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0 2px 3px #e1e1e1;
  clear: both;
  width: 100%;
}

.main-navigation a {
  display: block;
  color: grey;
}

.main-navigation li a {
  padding: .75rem 1.5rem;
}

.main-navigation li:first-child {
  border-left: 1px solid #e1e1e1;
}

.main-navigation li {
  border-right: 1px solid #e1e1e1;
  float: left;
}

.main-navigation .header-search fieldset {
  border: 0;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0 0 .75rem;
}

.search-submit {
  color: #a1a1a1;
  font-size: 1rem;
  padding: 0;
  border: none;
  background-color: transparent;
}

.site-branding .social {
  color: #a1a1a1;
  position: absolute;
  right: 11%;
  top: 17%;
}

.site-branding .social ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.site-branding .social li {
  display: inline;
  margin-left: 1.5rem;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
